html {
    height: 100%;
}

body {
    background: url('/media/black_armani_watch.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #F3E9DD;
    font-family: Montserrat;
}

.fixed-top {
    position: absolute;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #F3E9DD;
}

.burger-dropdown {
    color: #F3E9DD;
    font-size: 2rem;
    margin: 0;
    left: 0;
    top: 0;
    position: relative;
}

.logo-font {
    text-transform: uppercase;
    font-family: Syncopate;
}

.top-header {
    background-color: rgba(black, 0, 0, 0.5);
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    color: #F3E9DD;
    border: #F3E9DD 1px solid !important;
    min-width: 260px;
}

.btn-beige {
    background: black;
    color: #F3E9DD;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-beige:hover,
.btn-beige:active,
.btn-beige:focus {
    background: #F3E9DD;
    border: black 1px solid !important;
}

.text-beige {
    color: #F3E9DD !important;
}

.border-black {
    border: 1px solid #F3E9DD !important;
    opacity: 0.7;
}

.card-text {
    color: #3A3845;
}

.card-img-top {
    height: 20rem;
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #3A3845;
    z-index: -1;
}

.horizontal-rule {
    background-color: #F3E9DD;
}

.category-header {
    color: #F3E9DD;
}

.category-header:hover,
.category-header:focus,
.category-header:active {
    color: #F3E9DD;
}

a.category-badge > span.badge:hover {
    background: #3A3845 !important;
    color: #F3E9DD;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}