<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-beige mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item logo-font">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item logo-font">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item logo-font">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item logo-font">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-beige mr-5" href="#" id="watches-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Watches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="watches-link">
                <a href="{% url 'products' %}?category=watches" class="dropdown-item logo-font">All Watches</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-beige mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=wallets" class="dropdown-item logo-font">Wallets</a>
                <a href="{% url 'products' %}?category=watch_straps" class="dropdown-item logo-font">Watch Straps</a>
                <a href="{% url 'products' %}?category=wallets,watch_straps" class="dropdown-item logo-font">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-beige" href="#" id="jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery-link">
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item logo-font">Bracelets</a>
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item logo-font">Necklaces</a>
                <a href="{% url 'products' %}?category=rings" class="dropdown-item logo-font">Rings</a>
                <a href="{% url 'products' %}?category=bracelets,necklaces,rings" class="dropdown-item logo-font">All Jewellery</a>
            </div>
        </li>
    </ul>
</div>