{% extends 'base.html' %} 

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8 card blog-card mb-4 mt-3 left top">
            <div class="card-body text-beige">
                <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class="text-beige ">{{ post.content | safe }}</p>
                <p class="text-beige">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
        <div class="col-md-8 card blog-card mb-4 mt-3">
            <div class="card-body">
                <!-- Comments -->
                <h2>{{ comments.count }} comments</h2>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                    <span class="text-beige">
                        {{ comment.created_on }}
                    </span>
                    </p>
                    {{comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card blog-card mb-4 mt-3">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                <h3>Leave a comment</h3>
                {% load crispy_forms_tags %}
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-beige btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
